<h1 class="span-22">Task : <%= @task.name %></h1>

<div class="subnav span-2 right last">
  <%= link_to image_tag("/stylesheets/blueprint/plugins/buttons/icons/task_edit.png", :alt => "Edit")+"Edit", edit_task_path(@task), :class => "button ui-state-default ui-corner-all" %>
</div>

<div class="span-3">
  <b>Type:</b>
</div>
<div class="span-9">
  <%= @task.type %>&nbsp;
</div>

<div class="span-3">
  <b>Estimate:</b>
</div>
<div class="span-9 last">
  <%=h @task.estimate %>&nbsp;
</div>

<div class="span-3">
  &nbsp;
</div>
<div class="span-9">
  &nbsp;
</div>

<div class="span-3">
  <b>Disposition:</b>
</div>
<div class="span-9 last">
  <%=h @task.disposition %>&nbsp;
</div>

<div class="description span-24 last">
  <%= @task.description %>
</div>

<hr />
<div class="subnav span-24 last">
  <p>
    <%= link_to image_tag("/stylesheets/blueprint/plugins/buttons/icons/time_entry_new.png") + 'Add Time', new_task_time_entry_path(@task), :class => "ui-state-default ui-corner-all button" %>
  </p>
</div>

<div id="tasks" class="children span-24 last">
  <span class="header span-6">Entry Recorded</span>
  <span class="header span-6 center">Person 1</span>
  <span class="header span-6 center">Person 2</span>
  <span class="header span-3 center">Duration</span>
  <span class="span-3 last">&nbsp;</span>
  <%= render :partial => @task.time_entries %>
</div>
