<h1 class="span-21">Project : <%= @project.new_record? ? "New" : @project.name %></h1>

<div class="subnav span-3 last">
  <a href="<%= @project.new_record? ? projects_path : project_path(@project) %>" class="button ui-state-default ui-corner-all">
    <img src="/stylesheets/blueprint/plugins/buttons/icons/cross.png" alt=""/> Cancel
  </a>
</div>

<% form_for(@project) do |f| %>
  <div class="span-24 last">
    <%= f.error_messages %>
  </div>
  <div class="span-24 last">
    <%= f.label :name %>
  </div>
  <div class="span-24 last">    
    <%= f.text_field :name %>
  </div>
  <div class="span-24 last">
    <%= f.label :description %><br />
  </div>
  <div class="span-24 last">
    <%= f.text_area :description %>
  </div>
  <div class="span-2">
     <%= f.label :hidden %><br />
  </div>
  <div class="span-22 last">
      <%= f.check_box :hidden %>
  </div>
  <div class="span-24 last">
        <button type="submit" class="button ui-state-default ui-corner-all">
          <img src="/stylesheets/blueprint/plugins/buttons/icons/project.png" alt=""/> <%= @project.new_record? ? "Create" : "Update" %>
        </button>
  </div>
<% end %>

