<% div_for story, :class => "span-24 last" do %>
    <span class="span-6"><%= link_to h(story.name), story %></span>
    <span class="span-1 center"><%= h story.priority %>&nbsp;</span>
    <span class="span-3 center"><%= h(story.tracker.initials) if story.tracker %>&nbsp;</span>
    <div class="span-4 progress" id="progress_bar_<%= story.id %>"><%= story.percent_complete %></div>
    <span class="span-2 center"><%= story.task_count %>&nbsp;</span>
    <span class="span-2 center"><%= story.estimate %>&nbsp;</span>
    <span class="span-2 center"><%= story.actual %>&nbsp;</span>
    <span class="span-2 center"><%= story.remaining %>&nbsp;</span>
    <span class="span-1 right"><%= link_to image_tag("/stylesheets/blueprint/plugins/buttons/icons/story_edit.png", :alt => "Edit"), edit_story_path(story) %></span>
    <span class="span-1 last right"><%= link_to image_tag("/stylesheets/blueprint/plugins/buttons/icons/story_delete.png", :alt => "Remove"), story, :confirm => 'Are you sure?', :method => :delete %></span>
<% end %>
