<h1 class="span-21">Story : <%= @story.new_record? ? "New" : @story.name %></h1>

<div class="subnav span-3 last right">
  <a href="<%= @story.new_record? ? iteration_path(@iteration) : story_path(@story) %>" class="button ui-state-default ui-corner-all">
    <img src="/stylesheets/blueprint/plugins/buttons/icons/cross.png" alt=""/> Cancel
  </a>
</div>

<% form = Proc.new do |f| %>
    <div class="span-24 last">
      <%= error_messages_for :story %>
    </div>
    <div class="span-24 last">
      <%= f.label :name %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= f.text_field :name %>
    </div>
    <div class="span-24 last">
      <%= f.label :description %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= fckeditor_textarea(:story, :description, :toolbarSet => 'Easy', :height => '600px') %>
    </div>
    <div class="span-24 last">
      <%= f.label :tracker %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= f.text_field :tracker %>
    </div>
    <div class="span-24 last">
      <%= f.label :customer %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= f.text_field :customer %>
    </div>
    <div class="span-24 last">
      <%= f.label :estimate %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= f.text_field :estimate %>
    </div>
    <div class="span-24 last">
      <%= f.label :priority %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= f.text_field :priority %>
    </div>
    <div class="span-24 last">
      <button type="submit" class="button ui-state-default ui-corner-all">
        <img src="/stylesheets/blueprint/plugins/buttons/icons/story_save.png" alt=""/> <%= @story.new_record? ? "Create" : "Update" %>
      </button>
    </div>
<% end %>
<% @story.new_record? ? form_for([@iteration, Story.new], &form) : form_for(@story, &form) %>