<h1 class="span-21">Story : New</h1>

<div class="subnav span-3 last">
  <a href="<%= iteration_path(@iteration) %>" class="button negative">
    <img src="/stylesheets/blueprint/plugins/buttons/icons/cross.png" alt=""/> Cancel
  </a>
</div>


<% form_for([@iteration, Story.new]) do |f| %>
    <div class="span-24 last">
      <%= error_messages_for :story %>
    </div>
    <div class="span-24 last">
      <%= f.label :name %>
    </div>
    <div class="span-24 last">
      <%= f.text_field :name %>
    </div>
    <div class="span-24 last">
      <%= f.label :description %>
    </div>
    <div class="span-24 last">
      <%= f.text_area :description %>
    </div>
    <div class="span-24 last">
      <%= f.label :tracker %>
    </div>
    <div class="span-24 last">
      <%= f.text_field :tracker %>
    </div>
    <div class="span-24 last">
      <%= f.label :customer %>
    </div>
    <div class="span-24 last">
      <%= f.text_field :customer %>
    </div>
    <div class="span-24 last">
      <%= f.label :estimate %>
    </div>
    <div class="span-24 last">
      <%= f.text_field :estimate %>
    </div>
    <div class="span-24 last">
      <%= f.label :priority %>
    </div>
    <div class="span-24 last">
      <%= f.text_field :priority %>
    </div>
    <div class="span-24 last">
      <button type="submit" class="button positive">
        <img src="/stylesheets/blueprint/plugins/buttons/icons/story_save.png" alt=""/> Create
      </button>
    </div>
<% end %>
