<h1 class="span-22">Story : <%= @story.name %></h1>

<div class="subnav span-2 right last">
  <%= link_to image_tag("/stylesheets/blueprint/plugins/buttons/icons/story_edit.png", :alt => "Edit")+"Edit", edit_story_path(@story), :class => "button ui-state-default ui-corner-all" %>
</div>

<div class="span-3">
  <b>Tracker:</b>
</div>
<div class="span-9">
  <%= @story.tracker.name unless @story.tracker.nil? %>&nbsp;
</div>

<div class="span-3">
  <b>Estimate:</b>
</div>
<div class="span-9 last">
  <%=h @story.estimate %>&nbsp;
</div>

<div class="span-3">
  &nbsp;
</div>
<div class="span-9">
  &nbsp;
</div>

<div class="span-3">
  <b>Priority:</b>
</div>
<div class="span-9 last">
  <%=h @story.priority %>&nbsp;
</div>

<div class="description span-24 last">
  <%= @story.description %>
</div>

<hr />
<div class="subnav span-24 last">
  <p>
    <%= link_to image_tag("/stylesheets/blueprint/plugins/buttons/icons/task_new.png") + 'New Task', new_story_task_path(@story), :class => "ui-state-default ui-corner-all button" %>
  </p>
</div>

<div id="tasks" class="children span-24 last">
  <span class="header span-6">Name</span>
  <span class="header span-1 center">Type</span>
  <span class="header span-3 center">Est.</span>
  <span class="header span-3 center">Act.</span>
  <span class="header span-3 center">Rem.</span>
  <span class="header span-4 center">Disposition</span>
  <span class="span-4 last">&nbsp;</span>
<%= render :partial => @story.tasks %>
</div>
<ul>
<% @story.tasks.each do |task| %>
	<div id="dialog-confirm-<%= task.id %>" title="Add Time" style="visibility: hidden;">
	<p>
	<% form = Proc.new do |f| %>
		<%= f.label :person1 %>
      	<br/>
      	<%= collection_select(:time_entry, :person1_id, Person.all, :id, :name, {:include_blank => 'Not Assigned'}, {}) %>
		<br/>
      	<%= f.label :person2 %>
      	<br/>
      	<%= collection_select(:time_entry, :person2_id, Person.all, :id, :name, {:include_blank => 'Not Assigned'}, {}) %>
      	<br/>
		<%= f.label :duration %>
      	<br/>
      	<%= f.text_field :duration %>
	<% end %>
	<% form_for([task, TimeEntry.new], :html => {:id => "new_time_entry_" + task.id.to_s}, &form) %>
	</p>
	</div>
<% end %>

<script type="text/javascript">
function addTime(id) {	
	// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
	$("#dialog").dialog("destroy");
	var dialog_id="#dialog-confirm-" + id;
	var form_id = "#new_time_entry_" + id;
	$(dialog_id).css("visibility","visible");
	$(dialog_id).dialog({
		resizable: false,
		height:260,
		modal: true,
		buttons: {
			'Add Time': function() {
				$(form_id).submit();
			},
			Cancel: function() {
				$(this).dialog('close');
			}
		}
	});
	return false;
}
</script>
