<h1 class="span-21">Iteration : <%= @iteration.to_s %></h1>

<div class="subnav span-3 last">
  <%= link_to image_tag("/stylesheets/blueprint/plugins/buttons/icons/cross.png") + 'Cancel', @iteration, :class => "button negative" %>
</div>


<% form_for(@iteration) do |f| %>
    <div class="span-24 last">
      <%= f.error_messages %>
    </div>
    <div class="span-24 last">
      <%= f.label :name %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= f.text_field :name %>
    </div>
    <div class="span-24 last">
      <%= f.label :description %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= f.text_area :description %>
    </div>
    <div class="span-24 last">
      <%= f.label :start_on, "Starts on" %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= f.date_select :start_on %>
    </div>
    <div class="span-24 last">
      <%= f.label :end_on, "Ends on" %>
      <br/>
    </div>
    <div class="span-24 last">
      <%= f.date_select :end_on %>
    </div>
    <div class="span-24 last">
      <button type="submit" class="button positive">
        <img src="/stylesheets/blueprint/plugins/buttons/icons/iteration.png" alt=""/> Update
      </button>
    </div>
<% end %>

