<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Planet</title>

  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

  <%= stylesheet_link_tag "planet" %>

  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/jrails.js?1237534962"></script>
  <%= javascript_include_tag :fckeditor %>

  <!-- date picker related files -->
  <script type="text/javascript" src="/javascripts/daterangepicker.jQuery.js"></script>

  <link type="text/css" href="/stylesheets/redmond/jquery-ui-1.8.custom.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/ui.daterangepicker.css" type="text/css" />

  <script type="text/javascript">
      $(function(){
            $('#rangeA').daterangepicker({arrows:true});
       });
  </script>

  <style type="text/css">
			/*demo page css*/
			body{ font: 75% "Trebuchet MS", sans-serif; margin: 10px;}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			.button {padding: .6em 1em .6em 30px;text-decoration: none;position: relative; margin: 5px 0 5px 0;}
			.button img {margin: 0 5px 0 0; position: absolute; left: .5em; top: 50%; margin-top: -8px;}
			button.button img {margin: 0 5px 0 0; position: absolute; left: -2em; top: 50%; margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
		</style>

</head>
<body>
<div class="container">
  <div id="top-nav" class="nav"><%= top_nav %></div>
  <p style="color: green"><%= flash[:notice] %></p>

  <%= yield %>
</div>
</body>
</html>
