<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Planet</title>

  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/jrails.js?1237534962"></script>
  <%= javascript_include_tag :fckeditor %>

  <!-- date picker related files -->
  <script type="text/javascript" src="/javascripts/daterangepicker.jQuery.js"></script>

  <link type="text/css" href="/stylesheets/redmond/jquery-ui-1.8.custom.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/ui.daterangepicker.css" type="text/css" />

  <script type="text/javascript">
      $(function(){
        //$('#rangeA').daterangepicker({arrows:true});
        $(".progress").each(function(index, progressbar) {
          $("#" + progressbar.id).progressbar({ value: parseInt(progressbar.textContent) });
        });
        // the stylesheet selector doesn't seem to get evaluated so manually setting
        $("[aria-valuenow=100] div").each(function(index, progressbar) {
          progressbar.style.background='url("images/ui-bg_gloss-wave_green.png") repeat-x scroll 50% 50% #9FDA58';
        });
      });
  </script>

  <%= stylesheet_link_tag "planet" %>

</head>
<body>
<div class="container">
  <div id="top-nav" class="nav"><%= top_nav %></div>
  <div id="flash" class="span-24 last"><%= flash[:notice] %></div>

  <%= yield %>
</div>
</body>
</html>
